<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32910">
      <setting id="ignore_articles" type="bool" label="32913" default="true"/>
      <setting id="filter_shows_by_year" type="bool" label="32912" default="false" />
      <setting id="search_title_in_brackets" type="bool" label="32911" default="true"/>
    </category>
    <category label="32930">
      <setting id="send_statistics" type="bool" label="32931" default="true" />
    </category>
</settings>
