<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32005">
      <setting id="ignore_articles" type="bool" label="32006" default="true"/>
      <setting id="filter_shows_by_year" type="bool" label="32007" default="false" />
    </category>
    <category label="32002">
      <setting id="copy_subs_if_rar_played" type="bool" label="32001" default="false" />
    </category>
</settings>
